# Using clang-format 22.1.5
BasedOnStyle: Microsoft

Language: Cpp
Standard: c++17
IndentWidth: 4
UseTab: Never
ColumnLimit: 0

PointerAlignment: Left
BreakBeforeBraces: Allman
AccessModifierOffset: -4

IncludeBlocks: Regroup
IncludeCategories:
  # PCH
  # main header file has Priority & SortPriority of 0.
  - Regex:        '^"pch\.h"$'
    Priority:     -1
    SortPriority: -1
  # Cpp Standard Library
  - Regex:        '^<[a-z_]+>$'
    Priority:     1
  # Windows Opensource Libraries
  - Regex:        '^<(DirectXTex|DDSTextureLoader).*>$'
    Priority:     3
  # Third-party
  - Regex:        '^<imgui.*\.h>$'
    Priority:     4
  # Windows SDK (fallback)
  - Regex:        '^<.*\.h>$'
    Priority:     2
  # Project headers
  - Regex:        '^".*"$'
    Priority:     5

BreakConstructorInitializers: BeforeComma
InsertNewlineAtEOF: true

LambdaBodyIndentation: Signature
AllowShortLambdasOnASingleLine: All
