# VS Code files
/.vscode/

# visual studio
.vs/

# CMake build output
/build*/

# clangd
/.cache/

# Local CMake presets
/CMakeUserPresets.json

# Asset directory. Assets will be provided from outside, not github
/[Aa]ssets/

# Local claude settings
/.claude/settings.local.json
