# VS Code files for those working on multiple tools
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
!/.vscode/*.code-snippets

# visual studio
.vs/

# CMake build output
/build*/

# clangd
/.cache/

# Local CMake presets
/CMakeUserPresets.json

# Asset directory. Assets will be provided from outside, not github
/[Aa]ssets/

# Local claude settings
/.claude/settings.local.json
